body {
    font-family: "poppings", sans-serif;
    background-color: rgb(37, 37, 37);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.minhaDiv1 {
    background-color: rgb(68, 68, 68);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: grid;
    place-items: center;
}
.minhaDiv1 h2 {
    text-align: center;
    color: rgb(20, 20, 20);
    text-shadow: 0 3px 10px #282829;
}
.inputs {
    justify-content: center;
    margin-bottom: 18px;
    width: 85%;
}
.inputs label {
    font-size: 15px;
    margin-bottom: 50%;
    color: dimgrey;
}
.inputs input {
    width: 90%;
    padding: 15px;
    border: none;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    outline: none;
    transition: 0.3;
    color: white;
}
.inputs input:focus {
    box-shadow: 0 0 0 2px #282829;
}
.inputs p {
    color: rgb(207, 0, 0);
    font-size: small;
}
a {
    width: 80%;
}
button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #6a11cb, #2575fc );
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    transform: translateY(-3px);
    background: linear-gradient(135deg, #6a11cb, #2575fc );
    box-shadow: 0 8px 20px rgba(58,123,213,0.4);
}
.linkLog {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}
.linkLog p {
    font-weight: 600;
    color: #141414;
}
.linkLog a {
    color: #2575fc;
    text-decoration: none;
}
